#browser-bottombox.barlesque-bar
{
	position: fixed;
	bottom: 1px;
	background-color: rgba(192, 192, 192, 0.8);
	-moz-border-radius: 3px;
}

#browser-bottombox.barlesque-bar.barlesque-right
{
	right: 2px;
}

#browser-bottombox.barlesque-bar.barlesque-right.barlesque-vscroll
{
	right: 19px;
}

#browser-bottombox.barlesque-bar.barlesque-left
{
	left: 2px;
}

#browser-bottombox.barlesque-bar.barlesque-hscroll
{
	bottom: 17px;
}

statusbar
{
	min-height: 6px !important;
}*/