.barlesque-bar
{
	position: fixed;
	bottom: 0px;

	background: rgba(212, 212, 212, 0.8);

	border-bottom: 0px !important;
	border-top: 1px solid rgb(192, 192, 192) !important;

	padding: 3px 0px 1px 0px !important;
}

.barlesque-bar #addon-bar
{
	-moz-appearance: none;
	border: 0px !important;
}

.barlesque-bar#addon-bar
{
	-moz-appearance: none;
}

.barlesque-bar.barlesque-right
{
	right: 1px;

	-moz-border-radius-topleft: 4px;
	border-left: 1px solid rgb(192, 192, 192) !important;
	border-right: 0px !important;
}

.barlesque-bar.barlesque-right.barlesque-vscroll
{
	right: 17px;
}

.barlesque-bar.barlesque-left
{
	left: 1px;

	-moz-border-radius-topright: 4px;
	border-right: 1px solid rgb(192, 192, 192);
	border-left: 0px !important;
}

.barlesque-bar.barlesque-collapsed
{
	border: 0px;

	padding-left: 0px;
	padding-right: 0px;
}

.barlesque-bar statusbar
{
	min-height: 0px !important;
}

#barlesque-collapser
{
	width: 14px;
	height: 14px;

	position: absolute;
	bottom: 0px;

	background: rgba(212, 212, 212, 0.9) url("chrome://barlesque/skin/arrow-down.png") no-repeat;

	border: 0px;
	border-top: 1px solid rgb(168, 168, 168);

	cursor: pointer;
}

.barlesque-collapsed #barlesque-collapser, #FindToolbar #barlesque-collapser
{
	background-image: url("chrome://barlesque/skin/arrow-up.png");
}

.barlesque-right #barlesque-collapser, #FindToolbar #barlesque-collapser
{
	right: 100%;

	border-left: 1px solid rgb(168, 168, 168);
	-moz-border-radius-topleft: 4px;
}

.barlesque-left #barlesque-collapser
{
	left: 100%;

	border-right: 1px solid rgb(168, 168, 168);
	-moz-border-radius-topright: 4px;
}

#FindToolbar #barlesque-collapser
{
	border-bottom: 1px solid rgb(168, 168, 168);
	-moz-border-radius-bottomleft: 4px;
}

/* Removing the add-on bar close button and fixed spacer that landed in Firefox build 20101209122918: */

#addonbar-closebutton
{
	display:none !important;
}

#addonbar-spring
{
	display:none !important;
}